@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:   linear-gradient(0deg, rgba(0, 221, 168, 0.2), rgba(0, 221, 168, 0.2)), url(57.png);
  font-family: 'Space Grotesk', sans-serif;
}

.display-flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}


.border{
  border: 1px solid black;
}

.description{
  font-family: 'DM Sans';
  margin-top: 10px;
  color:  rgba(0, 14, 72, 0.62);
}

